/** Add css rules here for your application. */

* {
	margin: 0;
	padding: 0;
}

html .review, body .review {
	overflow: hidden;
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
}

#top {
	position: absolute;
	top: 0;
	left: 0;
	padding-bottom: .17em;
	border-bottom: 1px solid #d3e1f9;
	background: #ffffff;
	text-align: right;
	width: 100%;
}
#top #options {
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 1em;
}
#top #options .options * {
	padding-left: 1em;
}
#top #username, #top #count, #top #editid, #top #goto {
	margin-right: 1em;
}

#top #goto input {
	height: 10px;
}

#iframediv {
	position: absolute;
	top: 25px;
	left: 0;
	right: 0;
	bottom: 0;
	border: 0;
	margin: 0;
	padding: 0;
}
#iframediv iframe {
	width: 100%;
	height: 100%;
	border: 0;
}
a {
	padding-right: 1em;
	padding-top: 10px;
}
